<a href="https://colab.research.google.com/github/aaron-abrams-uva/DS1002-S24/blob/main/Pandas/exercises_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Warm-up: pandas

1. Import dependencies

---

In [ ]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

3. Take the above series and add an index that starts at 2 and steps by 3

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

5. Name the index of `df` 'participant_id'.  
Print `df`.

6. Use a pandas function to determine the data types of the columns of `df`.

7. Using bracket notation, reference column `name`

8. Using dot notation, reference column `name`

8. Reference column `name` and have it returned in a dataframe.

9. Show the 3rd element in column `career`.